<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 存储权限 -->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->

    <!-- Android 13 的存储权限 -->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->

    <!-- 位置权限（蓝牙需要） -->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!-- Android 12 的蓝牙权限 -->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"-->
<!--        android:usesPermissionFlags="neverForLocation"-->
<!--        tools:targetApi="s" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->

    <!-- 基本蓝牙权限 -->
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->

    <!-- Android 13 的通知权限 -->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
</manifest>